examples/*/*/lib/
examples/*/*/bin/
examples/*/*.exe
examples/*/*.o
examples/*/*.ppu

plays/*/*/lib/
plays/*/*/bin/
plays/*/*.exe
plays/*/*.o
plays/*/*.ppu

tests/*/bin/
tests/*/lib/
tests/*/*.exe
tests/*/*.o
tests/*/*.ppu

release

tests/*/backup/
tests/fafafa.core.csv/tmp/
tests/fafafa.core.csv/*.csv
tests/fafafa.core.collections/fafafa.core.collections.vec/bin
tests/fafafa.core.mem.pool.fixedSlab/build/
tests/lib/x86_64-linux/